<h1><%= @supervision.manager.email %><><%= @supervision.direct_report.email %></h1>

<p class="mb-0">Goals</p>
<p>List of Goals (title, status, date, auto score, list of kpis, score)</p>

<p class="mb-0">Priorities</p>
<p>List of priorities (recently archived, recently completed, active)</p>

<p class="mb-0">Issues & solutions</p>
<p>List of issues with associated solutions</p>

<p class="mb-0">Talking points</p>
<p>List of talking points</p>

<p class="mb-0">Commitments</p>
<p>List of commitments</p>


<% if @supervision.direct_report.priorities.any? %>
  <ul class="list-group">
    <% @supervision.direct_report.priorities.each do |priority| %>
      <li class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
        <label class="form-check-label" for="firstCheckbox">First checkbox</label>
      </li>
    <% end %>
  </ul>
<% end %>

<ul>
  <li>Goals + updates</li>
  <li>Current priorities</li>
  <li>Issues + solutions</li>
  <li>Topics</li>
  <li>Commitments</li>
  <li>workload? wellbeing?</li>
</ul>
